<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <style>

        .cat{
            width: 150px;
            z-index: 1000;
            position: relative;
            transform: rotate(-15deg);
            margin-left: 100px;
        }
        .animate {
            animation: rotating 0.2s linear infinite;
            width: 200px;
        }
        .animate2 {
            animation: 3s ease-in 1s 2 reverse both paused slidein;        width: 200px;
        }
        .fire {
            animation: fire 0.2s infinite;
        }

        @keyframes fire {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
        @keyframes slidein {
            from { transform: scaleX(0); }
            to   { transform: scaleX(1); }
        }
        @keyframes rotating {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(-10deg);
            }
        }

    </style>
    <body>

    <nav style="background-color: navajowhite" class="navbar">
        <span class="navbar-brand mb-0 h1">

        <img src="{{  asset("cat.png") }}" class="cat"
             alt="">
        <img src="{{  asset("ak.png") }}" class="animate"
             style="width: 160px;margin-top: 50px;margin-left: -70px" alt="">
        <img src="{{  asset("fire2.png") }}" class="fire"
             style="margin-left:-10px; width: 50px; transform: rotate(90deg)"     alt="">
        <a href="{{ path("app_quatrieme_index") }}">
            <span class="navbar-brand mb-0 h1">Entity 1</span>
        </a>
            </span>
        <a href="{{ path("second") }}">
            <span class="navbar-brand mb-0 h1">Entity 2</span>
        </a>
        <a href="{{ path("troisieme") }}">
            <span class="navbar-brand mb-0 h1">Entity 3</span>
        </a>
        <a href="{{ path("app_quatrieme_index") }}">
            <span class="navbar-brand mb-0 h1">Entity 4</span>
        </a>
        <a href="{{ path("app_cinquieme") }}">
            <span class="navbar-brand mb-0 h1">Entity 5</span>
        </a>

    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
