<!DOCTYPE html>
<html>
<head>
    <title>Premiere</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<div class="container">

    <h1><i class="fas fa-lightbulb"></i> Devinez le Mot !</h1>
<img class ="indice-image img" src="{{ asset('images/clap.jpg') }}"/>

    <div class="indices-container">
        {% for applaudissement in applaudissement %}
            <div class="indice">
                <i class="fas fa-tag"></i><strong>Type :</strong> {{ applaudissement.type }}<br>
                <i class="fas fa-tachometer-alt"></i><strong>Intensité :</strong> {{ applaudissement.intensite }}<br>
                <i class="fas fa-comment"></i><strong>Commentaire :</strong> {{ applaudissement.commentaire }}<br>
            </div>
        {% else %}
            <div class="indice">Pas de données.</div>
        {% endfor %}
    </div>

</div>



</body>
</html>
