{% extends 'base.html.twig' %}

{% block title %}Entity index{% endblock %}

{% block body %}
    <h1>Entity index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hauteur</th>
                <th>Largeur</th>
                <th>Aiguiser</th>
                <th>Lime</th>
                <th>Poli</th>
                <th>NomProprietaire</th>
                <th>Show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for croc in crocs %}
            <tr>
                <td>{{ croc.hauteur }}</td>
                <td>{{ croc.largeur }}</td>
                <td>{{ croc.aiguiser ? 'Yes' : 'No' }}</td>
                <td>{{ croc.lime ? 'Yes' : 'No' }}</td>
                <td>{{ croc.poli ? 'Yes' : 'No' }}</td>
                <td>{{ croc.NomProprietaire }}</td>
                <td><a href="{{ path('app_quatrieme_show', {'id': croc.id}) }}">show</a></td>
                <td><a href="{{ path('app_quatrieme_edit', {'id': croc.id}) }}">edit</a></td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    <h6>Accès en édition et en lecture seulement</h6>
{% endblock %}
